@model ConcertSystemDomain.Model.Spectator

@{
    ViewData["Title"] = "Деталі глядача";
}

<h1>Деталі глядача</h1>

<div>
    <h4>Глядач</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ПІБ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Телефон
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Електронна пошта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>